/**************** Tp4 Partie 1 Index et Jeux *****************/
html {

    background-color: coral;
    font-size: 18px;
    text-align: justify;
    
}


body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 0px;
    margin: 0px;

}


#principal {

    text-align: center;
    width: 80%;
    height: 80%;
}


/****************** Index Partie 2 **********************/

#la_boutique {

    text-align: center;
    color: brown;
    margin-bottom: 20px;

}


h1,#img,#icon {

    text-align: center;
    
}


title {

    width: 500px;     
    text-align: center;
    margin: 0;
    padding: 0;

}


a {

    color: blue;
    text-align: center;

}


a:hover {

    color: rgb(60, 255, 0);

}


img {

    border-radius: 10px;

}


h2 {

    text-align: center;
    color: blue;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 6px;
}


#CGUlink {

    color: black;
    text-decoration: none;

}


#CGUlink:hover {

    color: black;
    text-decoration: underline;
       
}


ul {

    list-style-type: none;
    text-align: left;
    padding: 0px ;

}


li {

    color: rgb(0, 0, 0);    
    
}

#list { 

    color: black;
    background-color: rgb(155, 153, 153);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    border-radius: 5px;
    
}


/***********************************  Jeux  (Partie 3) ****************************************************/

table {
    
    width: 320px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 0;

}


td,th {

    border: 0 solid black;

}


caption {

    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px;

}


.colonne4{

    margin: 10px;

}


button {

    background-color: rgb(153, 150, 150);
    font-style: bold;
    font-size: 16px;
    color: rgb(47, 58, 214);
    border-radius: 10px;
    height: 50px;
    width: 300px;
    border: 0;

}


button:hover {

    background-color: rgb(35, 223, 18);    

}